@page "/"
   



<AuthorizeView >
    <Authorized>
        <VirtualMachines></VirtualMachines>
    </Authorized>
    <NotAuthorized>
        <h5>É necessário <a href="authentication/login">Entrar</a> para ter acesso às maquinas virtuais.</h5>
    </NotAuthorized>
</AuthorizeView>


